html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: sans-serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }

div#app-selection {
    display: flex;
    flex-wrap: wrap;
    background-color: #212f3c;
    padding: 10px;
}
div.app-select-element { width: 50%; background-color: #eee; }
div#app-select-explain { width: 100%;  color: #f8f9f9; }

div#bayes-ux {
    display: grid;
    grid-template-columns: [ux] 25% [choice-display] 25% [results-display] auto [end];
    grid-template-rows: [parent1] auto [parent2] auto [children] auto [bottom];

    grid-gap: 1rem;
    height: 100%;
    padding: 10px;
}

div#bayes-parent1-ux {
  grid-column: ux / choice-display;
  grid-row: parent1 / parent2;
}
div#bayes-parent1-display {
  grid-column: choice-display / results-display;
  grid-row: parent1 / parent2;
}
div#bayes-parent2-ux {
  grid-column: ux / choice-display;
  grid-row: parent2 / children;
}
div#bayes-parent2-display {
  grid-column: choice-display / results-display;
  grid-row: parent2 / children;
}
div#bayes-children-ux {
    grid-column: ux / choice-display;
    grid-row: children / bottom;
}
div#bayes-children-display {
    grid-column: choice-display / results-display;
    grid-row: children / bottom;
}

table.flower-genetics thead { background-color: #212f3c; color: #eee; }

.red { background-color: #cd6155; }
.yellow { background-color: #f9e79f; }
.white { background-color: #f2f3f4; }
.pink { background-color: #fadbd8; }
.orange { background-color: #f5cba7; }
.blue { background-color: #aed6f1; }
.purple { background-color: #d7bde2; }
.black { background-color: #85929e; }
.green { background-color: #a9dfbf; }
