html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: sans-serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }

table#flowerGenetics tr.red { background-color: #cd6155; }
table#flowerGenetics tr.yellow { background-color: #f9e79f; }
table#flowerGenetics tr.white { background-color: #f2f3f4; }
table#flowerGenetics tr.pink { background-color: #fadbd8; }
table#flowerGenetics tr.orange { background-color: #f5cba7; }
table#flowerGenetics tr.blue { background-color: #aed6f1; }
table#flowerGenetics tr.purple { background-color: #d7bde2; }
table#flowerGenetics tr.black { background-color: #85929e; }
table#flowerGenetics tr.green { background-color: #a9dfbf; }

#nav {display: inline-flex;}
#nav-title {}
#flower-select {}
