<div id="about-bayes">
  <h3>How it works</h2>
  <p>
  If you have a random white flower on your island, you can't tell its genes. Depending
  on those underlying genes, it could be capable of producing beautiful hybrids, but it
  might also be incapable of producing anything other than more white flowers. But if you
  observe the children of a breeding pair, you can make inferences about the underlying
  genetics of the parent flowers. This calculator uses a bit of probability and statistics
  called <a href="https://en.wikipedia.org/wiki/Bayes%27_theorem">Bayes' Theorem</a> to
  make those predictions. Given a parent color, we assume to start with equal chances that
  flower could have any underlying genes. This isn't a perfect assumption, since the real
  distribution of flowers on your island is weighted based on seeds or natural flowers you
  started with. But the nice thing about Bayes's theorem is that our choice of "priors"
  matters less and less the more observations we get.
  </p>

  <p>
  You can use this tool to track the probable genetics of flowers in your town. I have been
  using it on my quest for purple hyacinths! And I have been able to use this tool to
  successfully identify "good" Blue hyacinths capable of producing purples from "junk" ones
  on my island.
  </p>
</div>

<div id="bayes-ux">
  <div id="bayes-control-panel">
    <button id="bayes-calculate">Calculate!</button>
    <button id="bayes-add-offspring">Add Offspring Flower</button>
    <button id="bayes-clear-offspring">Clear Offspring</button>
  </div>
  <div class="flowerbed" id="bayes-parents-genetic-p">
    Parent Genes Probabilities
    <div id="bayes-parent1-genetic-p"></div>
    <div id="bayes-parent2-genetic-p"></div>
  </div>
  <div class="flowerbed" id="bayes-parents-flowerbed">Parents Colors
    <div class="flowerbox" id="bayes-parent1-flowerbox">
      Choose Parent 1 Color
      <select id="bayes-parent1-select" class="flower-color-list">
        <option>---</option>
      </select>
    </div>
    <div class="flowerbox" id="bayes-parent2-flowerbox">
      Choose Parent 2 Color
      <select id="bayes-parent2-select" class="flower-color-list">
        <option>---</option>
      </select>
    </div>
  </div>
  <div class="flowerbed" id="bayes-observed-offspring-flowerbed">Children Observed Colors</div>
  <div class="flowerbed" id="bayes-future-offspring-p-flowerbed">Future Children Probabilities</div>

</div>
