<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>AC Flowers</title>
</head>
<body>
  <h1>AC Flowers</h1>
  <ul>{% for nav_option in ["explore", "bayes", "simulate"] %}
    <li><a href="#{{ nav_option }}">{{ nav_option }}</a></li>
  {% endfor %}</ul>

  <div id="app">
  </div>

  <script src="{{ url_for('static', filename='js/route.js') }}"></script>
  <script src="{{ url_for('static', filename='js/router.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
